<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>COTIZR</title>
</head>

<body>
  <noscript>
    <strong>COTIZR necesita javascript activado para funcionar correctamente</strong>
  </noscript>
  <div id="cotizr"></div>
  <!-- built files will be auto injected -->
</body>

</html>